<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/product.css">
        <script src="https://kit.fontawesome.com/06cf1881f7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container1">
        <nav class="nav-main">
            <img src="img/GLASS STATION (2).png" alt="LOGO" class="nav-brand">
            <ul class="nav-menu">
                <li><a href="index.html">HOME</a></li>
                <li><a href="products.html">PRODUCTS</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
        </nav>
        <hr class="div">
        
    </div>
        
        <div class="content">
        <div class="product-image">
            <img src="img/botella.png" class="productpic">
        </div>
        <div class="datos">
            <div class="encabezado">
                <h1>bottle of beer</h1>
            <hr>
            <ul class="stars-container">
                <li> <i class="fa-solid fa-star"></i></li>
                <li> <i class="fa-solid fa-star"></i></li>
                <li> <i class="fa-solid fa-star"></i></li>
            </ul>
            <h2>Price $5 c/u</h2>
            <h3> About this item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nibh ac 
                sapien molestie sodales.<br>Quisque dictum, risus ut elementum ullamcorper, elit nisi iaculis dolor</p>
            </div>
            <ul class="dots">
                <li class="checks"> <i class="fa-solid fa-check"></i> Color: Ambar</li>
                <li class="checks"> <i class="fa-solid fa-check"></i> Category: Beers</li>
                <li class="checks"> <i class="fa-solid fa-check"></i> Free shipping</li>
            </ul>
            <input type="text" class="qtn" value="1">
            <a href="#" class="Add"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
            
        </div>
    </body>
</html>
